.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #fb6161;
  padding: 20px 30px;
}

.product-item {
  padding: 20px;
}
.cart{
  font-size:30px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 300;
}
.prop{
  display:flex;
  padding:3px;
}